<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d’informations sur la configuration de votre application ASP.NET, rendez-vous sur 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <system.webServer>
	<staticContent>
	  <remove fileExtension=".json" />
	  <remove fileExtension=".svg" />
	  <remove fileExtension=".woff" />
	  <remove fileExtension=".woff2" />
	  <mimeMap fileExtension=".json" mimeType="application/json" />
	  <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
	  <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
	  <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
	</staticContent>
  </system.webServer>
</configuration>
